@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --card: #ffffff;
  --border: hsl(240 5.9% 90%);
  --item: #f9f9f9;
  --ghost-button: transparent;
  --ghost-button-hover: var(--card);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root.dark {
  --background: #1a1a1a;
  --foreground: #ededed;
  --card: var(--background);
  --border: #4a4a4a;
  --item: #303030;
  --ghost-button: transparent;
  --ghost-button-hover: var(--item);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
